.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f7f2;
}

.container {
  width: 80%;
  max-width: 1100px;
  height: 75vh;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  display: flex;
  overflow: hidden;
}

.left {
  width: 50%;
  background: #e8f7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 90%;
}

.right {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: #1d7d34;
}

.input {
  width: 100%;
  border: 1px solid #cfe4d1;
  padding: 12px 15px;
  background: #fafffa;
  border-radius: 8px;
  margin-top: 15px;
  outline: none;
}

.input:focus {
  border-color: #38a24f;
}

.button {
  width: 40%;
  padding: 12px;
  background: #3cb44c;
  color: white;
  margin-top: 25px;
  margin-left:30%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background: #2f923e;
}

.bottomText {
  margin-top: 20px;
  text-align: center;
}

.link {
  color: #2c7d3a;
  font-weight: bold;
  text-decoration: none;
}
