*{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background-color: #efefef;

}
.navnav{
  width: 100%;
  background: linear-gradient(135deg, #9be15d, #87ea32);
  height: 10vh;
  overflow: visible;
}

.title{
  font-size: 5vh;
  font-weight: 900;
  font-family:'Pacifico', cursive;
}
.abc{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
}
.login, .register {
  font-size: 2.5vh;
  font-weight: 600;
  padding: 1.2vh 2vw;
  border-radius: 1.2vh;
  cursor: pointer;
  transition: 0.3s ease;
  background: transparent;
  border: 0.4vh solid rgba(0,0,0,0.3);
}

.login:hover, .register:hover {
  transform: translateY(-0.4vh);
  border-color: rgba(0,0,0,0.6);
}

.login {
  margin: 4% 5% 2% 5%;
  color: black;
}

.register {
  margin: 3% 5% 3% 5%;
  margin-right: 3vw !important;
  color: black;
}

.user-dropdown-btn {
  font-size: 2.4vh;
  font-weight: 600;
  padding: 1.2vh 2vw;
  border-radius: 1.2vh;
  background: rgba(0, 0, 0, 0.75);   /* dark but soft */
  border: 0.2vh solid rgba(255, 255, 255, 0.25);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  backdrop-filter: blur(3px);
}

.user-dropdown-btn:hover {
  transform: translateY(-0.4vh);
  background: rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.6);
}


.l{
  margin-right: 1vw;
}
.smallimg{
  width: 22vw;
  height: 35vh;
  border-radius: 5px !important;
}
.content{
  margin-left: 10vw!important;
}
.imgbox{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.aww{
  zoom: 65%;
}
.qs{
  zoom: 85%;
}
.aye{
  zoom: 70%;
}
.bigimg{
  height: 400px;
  border-radius: 10px;
}
.text{
  margin-top: 50px;
}
.btn{
  margin: 5px;
}
.book{
  margin-left: 150px;
}
.left{
  margin-left: 180px;
  margin-right: 50px;
}
.right{
  margin-top: 30px;
  margin-left: 50px;
}
.one{
  width: 600px;
}
.hrtag{
  width: 30vw;
  margin-left: 10rem;
}
.bs{
  margin:25px 50px;
}
.iii{
  width:600px;
}
input,select,.won{
  box-shadow: none !important;
  border: 1.7px solid rgb(0, 0, 0)!important;
  height: 40px!important;
  cursor: pointer!important;
}
.imgbox1{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin-top: 20px;
  margin: 20px 19vw;
  padding: 50px 0px;
}
.aaaa{
  margin-left: 40vw!important;
}
.ht{
  height: 50px!important;
}
p,b{
  cursor: default!important;
}
.vg{
  font-size: .4rem!important;
}
.ant-picker input{
  height: 30px!important;
  border-radius: 3px;
  padding-left: 15px!important;
  cursor: default;
}
.w{
  margin-left: 75%;
}
.qq{
  margin-left: 50px;
  margin-right: 50px;
}
.ant-tabs-tab-btn{
  font-weight: 550;
  font-size: 22px;
}
.ppp{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.land{
  color: rgb(255, 255, 255);
  background-color: rgb(26, 25, 25);
  width: 100%;
  height: 100vh;
  text-align: center;
  padding:150px 0px 300px;
}
.von{
  font-size: 5rem;
  margin-bottom: 20px;
}
.laka{
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
}
.rrrr{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.hh{
  margin-left: 25px;
  height: 5.5rem;
  width:auto ;
}
.question{
  font-size: 50px;
  position:fixed;
  right: 3%;
  top: 40%;
  transform: translate(-40%);
  z-index: 100;
  cursor:pointer;
}
.ccc{
  margin: 5% 0% 2% 15%;
  height: 75vh;
  width: 70vw!important;
}
.qwer{
  width: 200px;
  margin-left: 43%;
}
.xx{
  margin-right: 1.5vw!important;
}
.temp{
  zoom: 85%;
}
.wer{
  zoom: 80%;
}
